#MyPiano {
	width: 1000px;
	display: flex; 
	align-items: center; 
	text-align: center; 
	font-size: 16px; 
}

#PiKey1do	{
	width: 11%; 
	height: 550px; 
	margin-left: 1%; 
	border: 4px inset black; 
	z-index:1;
} 

.piKey {
	width: 11%; 	
	margin-left: -5%; 
}

.KeyWhite	{
	height: 550px; 
	border: 4px outset black; 
	z-index:1;
}

.KeyBlack	{
	height: 500px; 
	background: #000000; 
	border: 4px inset white; 
	z-index:2;
	color: white;
}