#MyPiano {
	display: flex; 
	align-items: stretch; 
	text-align: center; 
	font-size: 16px; 
}

#MyPiano #PiKey1do	{
	width: 11%; 
	height: 600px; 
	margin-left: 1%; 
	border: 4px inset black; 
	z-index:1;
} 

#MyPiano .KeyWhite	{
	width: 11%; 
	height: 600px; 
	margin-left: -5%; 
	border: 4px inset black; 
	z-index:1;
}

#MyPiano .KeyBlack	{
	width: 11%; 
	height: 500px; 
	background: #000000; 
	margin-left: -5%; 
	border: 4px inset white; 
	z-index:2;
}

div .KeyBlack {
	color: white;
}
